<div class="hero bg-base-200" style="min-height: 85vh;">
  <div class="flex-col hero-content lg:flex-row-reverse">
    <img src="/images/Road trip_Monochromatic.svg" class="max-w-sm rounded-lg shadow-2xl ml-56"> 
    <div>
      <h1 class="mb-5 text-5xl font-bold">
            Hello there,
          </h1> 
      <p class="mb-5">
            Welcome to Avenue Transports
          </p> 
      <button class="btn btn-primary ml-10">Get Started</button>
    </div>
  </div>
</div>