<div class="grid grid-flow-col items-center bg-base-200" style="min-height: 90vh;">
    <div class="card hover:shadow-xl image-full m-5 transform hover:skew-x-2">
         <figure>
            <img src="https://www.freevector.com/uploads/vector/preview/10668/FreeVector-Airplane-Flights.jpg">
         </figure>
         <div class="justify-end card-body">
            <h2 class="card-title">Book Your Flights</h2>
            <p>For cheaper flights</p>
            <div class="card-actions">
             <form action="/airplane" method="GET">
                <button class="btn btn-primary">Get Started</button>
             </form>
            </div>
         </div>
     </div>
     <div class="card hover:shadow-xl image-full m-5 transform hover:skew-x-2">
        <figure>
            <img src="https://picsum.photos/id/1005/400/250">
        </figure>
        <div class="justify-end card-body">
            <h2 class="card-title">Image overlay</h2>
            <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed
                molestiae voluptates incidunt iure sapiente.</p>
            <div class="card-actions">
                <button class="btn btn-primary">Get Started</button>
            </div>
        </div>
    </div>
    <div class="card image-full m-5 hover:shadow-xl transform hover:skew-x-2">
         <figure>
            <img src="https://picsum.photos/id/1005/400/250">
         </figure>
         <div class="justify-end card-body">
            <h2 class="card-title">Image overlay</h2>
            <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed
                molestiae voluptates incidunt iure sapiente.</p>
            <div class="card-actions">
                <button class="btn btn-primary">Get Started</button>
            </div>
         </div>
    </div>
</div>