<!DOCTYPE html>
<html data-theme="pastel">
  <head>
    <title>{{title}}</title>
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
      {{>user-header}}
      {{{body}}}
  </body>
</html>
